
table, th, td {
    border: 0px;
    border-collapse: separate;
}

table {
    
}

.tdDay {
    border: 1px solid black;
    border-spacing: 1px;
    min-width: 11px;
    height: 11px;
    background-color: rgb(248, 248, 246);
}

.weekend {
    background-color: lightgray;
}

.absenceOk {
    background-color: greenyellow;
}

.absenceNon {
    background-color: lightgreen;
}

.job {
    background-color: cornflowerblue;
}

@media screen and (max-width: 990px) {

    #grille{
        display: none;
    }

  }